section {
  position: relative;
  width: 1000px;
}

.one {
  position: absolute;
  background-color: #fef9e6;
  border: 10px solid black;
  width: 30%;
  height: 200px;
  border-bottom: 40px solid black;
  border-right: 20px solid black;
  border-top: 5px solid black;
}

.two {
  position: absolute;
  background-color: #fef9e6;
  border: 10px solid black;
  width: 30%;
  height: 400px;
  border-bottom: 20px solid black;
  border-right: 20px solid black;
  top: 200px;
}

.three {
  position: absolute;
  background-color: #409cc3;
  border: 10px solid black;
  width: 30%;
  height: 200px;
  border-bottom: 15px solid black;
  border-right: 20px solid black;
  top: 600px;
}

.four {
  position: absolute;
  background-color: #ec4938;
  width: 70%;
  height: 650px;
  border-bottom: 10px solid black;
  border-right: 20px solid black;
  left: 30%;
  border-left: 20px solid black;
  border-top: 5px solid black;
}

.five {
  position: absolute;
  background-color: #fef9e6;
  width: 70%;
  height: 210px;
  border-bottom: 10px solid black;
  border-right: 20px solid black;
  left: 30%;
  border-left: 20px solid black;
  border-top: 5px solid black;
  top: 600px;
}

.six {
  position: absolute;
  background-color: #fef9e6;
  width: 5%;
  height: 95px;
  border-bottom: 10px solid black;
  border-right: 5px solid black;
  left: 95%;
  border-left: 20px solid black;
  border-top: 5px solid black;
  top: 600px;
  z-index: 10;
}

.seven {
  position: absolute;
  background-color: #ffff00;
  width: 5%;
  height: 95px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  left: 95%;
  border-left: 20px solid black;
  border-top: 20px solid black;
  top: 700px;
  z-index: 10;
}